.newQRcard {
    background-color: mediumslateblue;

  }
  
  ul,  
  li {  
        margin: 0;  
        padding: 0;  
        list-style: none;  
  }

  .cloud  {
        background-color: rgb(94, 97, 250);
        color:white;
      
  }