@import "../../styles.scss";
.newQRcard {
  background: $mainColor;
  color: #fff !important;  
}

.mat-hint {
      color: white;
  }
  
  ul,  
  li {  
        margin: 0;  
        padding: 0;  
        list-style: none;  
  }
